#ll-dialog-message { display: none; }
#ll-dialog-message i { padding-top: 15px; color: red; }
#ll-timer-redirect { border: 1px solid #efe3ae; background-color: #fef6d2; padding: 2px 5px; margin-top: 10px; text-align: center; border-radius: 5px; }

.noclose .ui-dialog-titlebar-close { display:none; }
.ui-widget-overlay { background: #000 !important; opacity: .5 !important; filter: alpha(opacity=50) !important; z-index: 1000 !important;}
.ui-dialog.ui-front { z-index: 1001 !important; }